<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890507690958-71gltpvkpm47i92fpqtave2k4hqt3ren.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890507690958-71gltpvkpm47i92fpqtave2k4hqt3ren</string>
	<key>API_KEY</key>
	<string>AIzaSyCeuO4KMRkxmZe6OH7lHlUXK6N7BrRRyIU</string>
	<key>GCM_SENDER_ID</key>
	<string>890507690958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp</string>
	<key>PROJECT_ID</key>
	<string>blogapp-2c38f</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-2c38f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890507690958:ios:7eb2b2df1e0a927f</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-2c38f.firebaseio.com</string>
</dict>
</plist>